.pad-b-md { padding-bottom: 10px; }
.pad-b-sm { padding-bottom: 5px; }
.pad-r-sm { padding-right: 5px; }
.pad-t-md { padding-top: 10px; }
.pad-t-lg { padding-top: 100px; }
.pointer { cursor: pointer; }