.pad-b-md { padding-bottom: 10px; }
.pad-b-sm { padding-bottom: 5px; }
.pad-r-sm { padding-right: 5px; }
.pad-t-md { padding-top: 10px; }
.pad-t-lg { padding-top: 100px; }
.pointer { cursor: pointer; }


.bs-overlay {
  opacity: 0.4;
}
.bs-overlay:after {
  content: "TITLE";
  display: block;
  text-align: right;
  position: absolute; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,0,0.6);
}

/*
<style>.bs-overlay:after {display:block;position:absolute;top:0;left:0;height:100%;width:100%;z-index:1000;background-color:rgba(255,255,0,0.6);}</style>
*/